.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(19, 19, 19);
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
